/* 
F1DFDF light pink
C28F9E medium pink
926270 dark pink
FFDCE2 pink??
2b2d6 pretty lilac
*/

body {
    background-color: #fff;
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #C28F9E;
}

#header-img {
    width: 100%;
    height: auto;

}    

h2 {
    font-family: monospace;
    color: #926270;
    padding: 10px;
    text-align: center;
}

ul {
    border-bottom: 1px solid #C28F9E;
    text-align: left;
    margin: 20px;
    padding: 0px;
    color: #C28F9E;

}

.body-border {
    border-right: 1px solid #C28F9E;
}

hr.solid {
    margin: 0px;
    border-top: 45px solid #d2b2d6;
}

#manga {
    width: auto;
    height: auto;
    margin-top: 10px;
    box-shadow: 5px 5px 5px 0px;
}

#email-button {
    background-color: #C28F9E;
    border: none;
    color: #F1DFDF;
    font-size: 1.2em;

}

#statue {
    width: 100%;
    height: auto;
}

#pookie {
    width: 50%;
    margin: 25px;
}

#song {
    margin: 30px;
    color: #C28F9E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;

}

#reflections {
    margin-top: 20px;
}

