/* 
F1DFDF light pink
C28F9E medium pink
926270 dark pink
FFDCE2 pink??
*/

body {
    background-color: #fff;
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #C28F9E;
}

#header-img {
    width: 100%;
    margin-bottom: 0px;

}    

h2 {
    font-family: monospace;
    color: #926270;
    padding: 10px;
}

ul {
    border-bottom: 1px solid #C28F9E;
}

hr.solid {
    margin: 0px;
    border-top: 30px solid #926270;
}

#browser-img {
    align-content: center;
}
